* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.image-to-show {
	width: 400px;
	height: 400px;
}

.container {
	height: 600px;
	width: 1000px;
	background-color: rgb(191, 185, 185);
	margin-top: 200px;
	margin-left: 250px;
}

.slider {
	width: 400px;
	height: 400px;
	margin: 30px auto;
	overflow: hidden;
}

.slider-line {
	height: 400px;
	width: 1600px;
	display: flex;
	position: relative;
	left: 0;
	transition: all ease 1s;
}

.button-start {
	width: 165px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: black;

    background: #F6762C;
    border-radius: 5px;
	border: none;
    padding: 15px 37px;
	margin-left: 420px;
	cursor: pointer;
}

.button-start:hover {
	background-color: #ce4f06;
	transform: scale(1.03);
    transition: all .5s ease;
}

.button-items:hover {
	transform: scale(1.03);
    transition: all .5s ease;
}

.button-group {
	margin-left: 375px;
	margin-top: 25px;
	
}

.button-items {
	width: 120px;
	height: 50px;
	background-color: #DF4A32;
    border: none;
    border-radius: 4px;
	cursor: pointer;
}

.button-items:first-child {
	margin-right: 20px;
}

.hidden {
	display: none;
}

